In [1]:
import pandas as pd

In [7]:
# clinical results
train_df = pd.read_csv('./data1/train_results.csv')
train_df.rename(columns={'train_pid':'pid', 'train_pred':'y_score1', 'train_label':'y_true'}, inplace=True)
train_df['y_score0'] = train_df['y_score1'].apply(lambda x: 1-x)
train_df = train_df.iloc[:,1:]
train_df['dataset']='training'
train_df.head()

   pid  y_true  y_score1  y_score0   dataset
0    1       0  0.237416  0.762584  training
1    2       1  0.988014  0.011986  training
2    3       1  0.680948  0.319052  training
3    4       0  0.516557  0.483443  training
4    8       1  0.921860  0.078140  training

In [8]:
# clinical results
test_df = pd.read_csv('./data1/test_results.csv')
test_df.rename(columns={'test_pid':'pid', 'test_pred':'y_score1', 'test_label':'y_true'}, inplace=True)
test_df['y_score0'] = test_df['y_score1'].apply(lambda x: 1-x)
test_df = test_df.iloc[:,1:]
test_df['dataset']='test'
test_df.head()

   pid  y_true  y_score1  y_score0 dataset
0    5       1  0.671528  0.328472    test
1    6       1  0.923465  0.076535    test
2    7       1  0.963128  0.036872    test
3   17       1  0.831344  0.168656    test
4   19       1  0.995432  0.004568    test

In [10]:
# clinical results
external_df = pd.read_csv('./data1/extest_results.csv')
extest_df.rename(columns={'extest_pid':'pid', 'extest_pred':'y_score1', 'extest_label':'y_true'}, inplace=True)
extest_df['y_score0'] = extest_df['y_score1'].apply(lambda x: 1-x)
extest_df = extest_df.iloc[:,1:]
extest_df['dataset']='external'
extest_df.head()

   y_true  y_score1  y_score0   dataset
0       1  0.651646  0.348354  external
1       0  0.028857  0.971143  external
2       0  0.278621  0.721379  external
3       1  0.920497  0.079503  external
4       1  0.969395  0.030605  external

In [12]:
cli_all_df = pd.concat([train_df, test_df, extest_df], axis=0)
threshold = 0.51685315972792
cli_all_df.insert(loc=2, column='y_pred', value=cli_all_df['y_score1'].apply(lambda x: 0 if x<threshold else 1))
cli_all_df.head()

   pid  y_true  y_pred  y_score1  y_score0   dataset
0  1.0       0       0  0.237416  0.762584  training
1  2.0       1       1  0.988014  0.011986  training
2  3.0       1       1  0.680948  0.319052  training
3  4.0       0       0  0.516557  0.483443  training
4  8.0       1       1  0.921860  0.078140  training

In [13]:
cli_all_df.to_csv('./data_20230325/clinical_origin.csv', index=0)

In [14]:
# radiomics results
train_df = pd.read_csv('./data/train_results.csv')
train_df.rename(columns={'train_pid':'pid', 'train_pred':'y_score1', 'train_label':'y_true'}, inplace=True)
train_df['y_score0'] = train_df['y_score1'].apply(lambda x: 1-x)
train_df = train_df.iloc[:,1:]
train_df['dataset']='training'
train_df.head()

   pid  y_true  y_score1  y_score0   dataset
0    1       0  0.077459  0.922541  training
1    2       1  0.980038  0.019962  training
2    3       1  0.651111  0.348889  training
3    4       0  0.395962  0.604038  training
4    8       1  0.895577  0.104423  training

In [15]:
# clinical results
test_df = pd.read_csv('./data/test_results.csv')
test_df.rename(columns={'test_pid':'pid', 'test_pred':'y_score1', 'test_label':'y_true'}, inplace=True)
test_df['y_score0'] = test_df['y_score1'].apply(lambda x: 1-x)
test_df = test_df.iloc[:,1:]
test_df['dataset']='test'
test_df.head()

   pid  y_true  y_score1  y_score0 dataset
0    5       1  0.542707  0.457293    test
1    6       1  0.898674  0.101326    test
2    7       1  0.961153  0.038847    test
3   17       1  0.946710  0.053290    test
4   19       1  0.994180  0.005820    test

In [16]:
# clinical results
external_df = pd.read_csv('./data/extest_results.csv')
extest_df.rename(columns={'extest_pid':'pid', 'extest_pred':'y_score1', 'extest_label':'y_true'}, inplace=True)
extest_df['y_score0'] = extest_df['y_score1'].apply(lambda x: 1-x)
extest_df = extest_df.iloc[:,1:]
extest_df['dataset']='external'
extest_df.head()

   y_score1  y_score0   dataset
0  0.651646  0.348354  external
1  0.028857  0.971143  external
2  0.278621  0.721379  external
3  0.920497  0.079503  external
4  0.969395  0.030605  external

In [17]:
cli_all_df = pd.concat([train_df, test_df, extest_df], axis=0)
threshold =  0.80755
cli_all_df.insert(loc=2, column='y_pred', value=cli_all_df['y_score1'].apply(lambda x: 0 if x<threshold else 1))
cli_all_df.head()

   pid  y_true  y_pred  y_score1  y_score0   dataset
0  1.0     0.0       0  0.077459  0.922541  training
1  2.0     1.0       1  0.980038  0.019962  training
2  3.0     1.0       0  0.651111  0.348889  training
3  4.0     0.0       0  0.395962  0.604038  training
4  8.0     1.0       1  0.895577  0.104423  training

In [18]:
cli_all_df.to_csv('./data_20230325/radiomics_origin.csv', index=0)

In [19]:
# radiomics-clinical results
train_df = pd.read_csv('./data2/train_results.csv')
train_df.rename(columns={'train_pid':'pid', 'train_pred':'y_score1', 'train_label':'y_true'}, inplace=True)
train_df['y_score0'] = train_df['y_score1'].apply(lambda x: 1-x)
train_df = train_df.iloc[:,1:]
train_df['dataset']='training'
train_df.head()

   pid  y_true  y_score1  y_score0   dataset
0    1       0  0.155026  0.844974  training
1    2       1  0.902084  0.097916  training
2    3       1  0.347054  0.652946  training
3    4       0  0.612407  0.387593  training
4    8       1  0.902084  0.097916  training

In [25]:
# clinical results
test_df = pd.read_csv('./data2/test_results.csv')
test_df.rename(columns={'test_pid':'pid', 'test_pred':'y_score1', 'test_label':'y_true'}, inplace=True)
test_df['y_score0'] = test_df['y_score1'].apply(lambda x: 1-x)
test_df = test_df.iloc[:,1:]
test_df['dataset']='test'
test_df.head()

   pid  y_true  y_score1  y_score0 dataset
0    5       1  0.516853  0.483147    test
1    6       1  0.756049  0.243951    test
2    7       1  0.902084  0.097916    test
3   17       1  0.756049  0.243951    test
4   19       1  0.961316  0.038684    test

In [27]:
# clinical results
extest_df = pd.read_csv('./data2/extest_results.csv')
extest_df.rename(columns={'extest_pid':'pid', 'extest_pred':'y_score1', 'extest_label':'y_true'}, inplace=True)
extest_df['y_score0'] = extest_df['y_score1'].apply(lambda x: 1-x)
extest_df = extest_df.iloc[:,1:]
extest_df['dataset']='external'
extest_df.head()

  pid  y_true  y_score1  y_score0   dataset
0  w1       1  0.452292  0.547708  external
1  w2       0  0.124056  0.875944  external
2  w3       0  0.155026  0.844974  external
3  w4       1  0.893159  0.106841  external
4  w5       1  0.961316  0.038684  external

In [28]:
cli_all_df = pd.concat([train_df, test_df, extest_df], axis=0)
threshold = 0.807553572294638
cli_all_df.insert(loc=2, column='y_pred', value=cli_all_df['y_score1'].apply(lambda x: 0 if x<threshold else 1))
cli_all_df.head()

  pid  y_true  y_pred  y_score1  y_score0   dataset
0   1       0       0  0.155026  0.844974  training
1   2       1       1  0.902084  0.097916  training
2   3       1       0  0.347054  0.652946  training
3   4       0       0  0.612407  0.387593  training
4   8       1       1  0.902084  0.097916  training

In [29]:
cli_all_df.to_csv('./data_20230325/radiomic_clinical_origin.csv', index=0)